<!-- Cued Speech Section -->
<section class="success" id="cuedspeech">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Cued Speech</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Cued speech helps deaf people see what you are saying.
        </p>
        <p>It is a manual system of 8 handshapes in 4 positions near the mouth which completely clarify the 
          lip-patterns of your speech and it is quick and comparatively easy to learn.
         </p>
      </div>
      <div class="col-lg-4">
        <p>It turns your spoken language (English and many other languages) into a visual language. 
          Research shows that with Cued Speech 96% of English can be accurately lip-read. You can help your deaf baby or child see the whole of the English language as clearly as hearing people can hear it.
        </p>          
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p><em>Because there is no new language to learn we could use Cued Speech straight away and say anything</em></p>
      </div>
    </div>
  </div>
</section>
